@font-face {
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/liberation_sans/LiberationSans-Regular.ttf');
}
@font-face {
    font-family: 'Liberation Sans';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/liberation_sans/LiberationSans-Italic.ttf');
}
@font-face {
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/liberation_sans/LiberationSans-Bold.ttf');
}
@font-face {
    font-family: 'Liberation Sans';
    font-style: italic;
    font-style: bold;
    src: url('../fonts/liberation_sans/LiberationSans-BoldItalic.ttf');
}

body, html {
    font-family: 'Liberation Sans', 'Tahoma', 'Verdana', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    height: 100svh;
    margin: 0;
    padding: 0em;
    box-sizing: border-box;
}

header h1, header nav {
    margin: 0;
    padding: 0.25em 0;
}

header, main, footer {
    padding: 0.5em;
    box-sizing: border-box;
}

main {
    width: 100%;
    overflow-y: scroll;
}

footer {
    background: whitesmoke;
}

button {
    padding: 0.5em;
}

form {
    padding: 0.5em 0;
    margin: 0;
}

label {
    font-size: 14px;
}

.no-style {
    color: inherit;
    font-weight: normal;
    text-decoration: inherit;
}

input, button, select {
    padding: 0.25ch;
}

header {
    padding-bottom: 0.5em;
    background: linear-gradient(to bottom, whitesmoke 0%, whitesmoke 95%, #0007 100%)
}

/*
button {
    border-radius: 4px;
    padding: 0.5em;
    cursor: pointer;
    border: 1pt #aaa outset;
}
button:active {
    border: 1pt #ccc inset;
}
*/