* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* grid-template-columns: 2fr 1fr; */
    font-family: 'Liberation Sans', 'Segoe UI', 'Tahoma', 'Verdana', sans-serif;
}

header {
    position: sticky;
    top: 0;
    /* height: 10rem; */
    background: linear-gradient(to bottom, orange, beige);
    display: grid;
    grid-template-areas:
        "nav-hamburguesa banner";
    grid-template-columns: 1fr 3fr;
    width: 100%;
    z-index: 3;
}

header .banner {
    grid-area: banner;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
}

header .banner img {
    height: 50%;
}

nav {
    grid-area: nav-hamburguesa;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    /* grid-area: 1/1; */
}

nav a#boton-hamburguesa {
    background: white;
    font-size: 48px;
    padding: 0 0.5ch;
    border-radius: 0.5ch;
    border: outset #fff 4px;
    text-decoration: none;
    align-content: center;
    text-align: center;
}
nav a#boton-hamburguesa:active {
    border: inset #fff 3px;
}

nav ul#navbar-ul-menu {
    z-index: 2;
    display: none;
    position: absolute;
    grid-area: 1/1;
    width: 100%;
    background: white;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-position: inside;
}
nav ul#navbar-ul-menu {
    padding: 0;
    margin: 0;
}
nav ul#navbar-ul-menu.mobile-abierto {
    display: grid;
    top: 100%;
    /* position: sticky; */
    /* position: fixed; */
}
nav ul#navbar-ul-menu li {
    display: flex;
    flex-direction: row;
}
nav ul#navbar-ul-menu li a {
    box-sizing: border-box;
    padding: 1ch;
    text-decoration: none;
    color: inherit;
    width: 100%;
    text-align: center;
    align-content: center;
}
nav ul#navbar-ul-menu li a:hover {
    background: #1112;
}

main {
    /* min-height: 100dvh; */
    display: grid;
    grid-template-areas:
        "anuncio1"
        "contenido"
        "anuncio2";
    grid-template-rows: auto 1fr auto;
    background-image: url('../img/fondos/fondopag2.jpg');
}

main > * {
    background: #fff7;
}

#contenido section article {
    display: grid;
}

#contenido section article img {
    justify-self: center;
    max-width: 480px;
    max-height: 240px;
    object-fit: contain;
}

section#anuncio1 { grid-area: anuncio1; }
section#anuncio2 { grid-area: anuncio2; }
section#contenido {
    grid-area: contenido;
    padding: 1ch;
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
    grid-auto-rows: min-content;
}

section#contenido article {
    background: #fff3;
    padding: 1ch;
}

footer {
    height: 3rem;
    text-align: center;
    align-content: center;
    background: linear-gradient(to bottom, #C92A, #B72F);
}

article.articulo-instrumento {
    /* width: min(100%, 600px); */
    
}

article.articulo-instrumento img {
    width: 100%;
    height: auto;
}

div#fondo-nav-overlay {
    display: none;
}

div#fondo-nav-overlay.mostrar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #1117;
    z-index: 1;
}

.anuncio {
    height: 4rem;
    position: relative;
    /* isolation: isolate; */
}

.anuncio a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*
.anuncio a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #fff0, #fff7);
    z-index: 1;
}
*/
.anuncio a .overlay-anuncio {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1ch;
    font-size: 12px;
    font-weight: bold;
    color: #eee;
    background: #17a;
    z-index: 2;
}

@media (min-width: 960px) {
    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "contenido anuncio1"
        "contenido anuncio2";
        
    }
    #anuncio1 { grid-area: anuncio1; }
    #anuncio2 { grid-area: anuncio2; }
    .anuncio {
        height: 100%;
    }
    div#fondo-nav-overlay, div#fondo-nav-overlay.mostrar {
        display: none;
    }
    header {
        display: grid;
        grid-template-areas:
        "blank banner banner"
        "nav nav nav";
        height: auto;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 4fr 1fr;
    }
    nav {
        grid-area: nav;
        align-self: self-end;
        height: 100%;
        justify-self: stretch;
        align-self: stretch;
    }
    nav a#boton-hamburguesa {
        display: none;
    }
    nav ul#navbar-ul-menu {
        display: grid;
        grid-auto-flow: column;
    }

    header .banner img:first-child {
        height: 75%;
    }

    header .banner img {
        height: 50%;
    }
}