/* esto le quita el margen y relleno por defecto a todos los elementos
antes de que cualquiera de ellos se sobreescriba especificando lo contrario 
por orden de interpretación de estilos. */
/*
* {
    margin: 0;
    padding: 0;
}
*/

body {
    font-family: 'Liberation Sans', 'Verdana', sans-serif;
    background: whitesmoke;
    margin: 0;
    padding: 0;
}

h1 {
    background: darkslateblue;
    color: whitesmoke;
    margin: 0;
    padding: 1em;
}

article.noticia-completa {
    display: grid;
}

p.parrafo-destacado {
    color: green;
    text-decoration: dotted;
    font-style: oblique;
}

.texto-sin-estilos {
    color: inherit;
    text-decoration: inherit;
    font-style: inherit;
    font-weight: inherit;
}

aside.aside-img {
    text-align: center;
}
aside.aside-img, a.img-noticia-link {
    justify-self: center;;
}
img.img-noticia {
    max-width: 480px;
    max-height: 480px;
    /* width: 80%; */
    /* height: auto; */
    object-fit: contain;
    object-position: center;
}

footer {
    background: darkslateblue;
    color: whitesmoke;
    padding: 1em;
}
footer h4 {
    margin: 0;
}

ul {
    font-style: italic;
}
ol {
    text-decoration: underline;
}

.estilo-serif {

}

.cita-textual-destacada {
    font-size: 24px;
    margin: 1ch 10%;
}

span.comilla-grande {
    font-size: 36px;
    box-sizing: content-box;
}